# Build
/dist
/lib
/lib-types
/server
/tmp
/drizzle

# Development
node_modules
*.local

# Cache
.cache
.mf
.rollup.cache
tsconfig.tsbuildinfo

# Logs
logs
*.log
pnpm-debug.log*

# Editor
/.vscode

.DS_Store
._*

# Vercel
.vercel
