@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply antialiased;
  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  @apply bg-zinc-950;
}
